.talouspage_page_container {
  padding: 5% 0 2% 0;
  display: flex;
  flex-wrap: wrap;
}
.talouspage_left_container {
  width: 50%;
  padding: 0 2%;
  flex: 1 0 300px;
}
.talouspage_right_container {
  width: 50%;
  padding: 0 2%;
  flex: 1 0 300px;
}
